<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?v1.0">
    <title>Mon Site Airbnb</title>
</head>
<body>
    <h1>Bienvenue sur mon site Airbnb</h1>
    <p>Test de style CSS</p>
    <section>
        <div class="bloc">
            <div class="bloc-img">
                <img src="/img/trouver-un-logement-mdv.png.png" alt="test-image">
            </div>
            <div class="bloc-texte">
                <h3>Logement 1</h3>
                <p>caractéristique 1 : </p>
                <p>caractéristique 2 : </p>
                <p>caractéristique 3 : </p>
            </div>
            
        </div>
        <div class="bloc">
            <div class="bloc-img">
                <img src="/img/trouver-un-logement-mdv.png.png" alt="test-image">
            </div>
            <div class="bloc-texte">
                <h3>Logement 2</h3>
                <p>caractéristique 1 : </p>
                <p>caractéristique 2 : </p>
                <p>caractéristique 3 : </p>
            </div>
        </div>
        <div class="bloc">
            <div class="bloc-img">
                <img src="/img/trouver-un-logement-mdv.png.png" alt="test-image">
            </div>
            <div class="bloc-texte">
                <h3>Logement 3</h3>
                <p>caractéristique 1 : </p>
                <p>caractéristique 2 : </p>
                <p>caractéristique 3 : </p>
            </div>
        </div>
    </section>
</body>
</html>